name: '05 - Production test of CreNewsSearch'
on:
  workflow_dispatch:
  schedule:
#    daily,every 5 hours #m h d/m m d/w 
    - cron:  '35 1 * * *'

jobs:

  build:
    name: Build distribution
    runs-on: ubuntu-latest
    outputs:
      pkg_version: ${{ steps.pkg-version.outputs.PKG_VERSION }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.x"
    - name: Set version
      id: pkg-version
      run: echo "PKG_VERSION=$(grep -m 1 version pyproject.toml | tr -s ' ' | tr -d '"' | tr -d "'" | cut -d' ' -f3)" >> "$GITHUB_OUTPUT"

    - name: Run tests with official production version
      run: ./test_production.sh

    - name: Install pypa/build
      run: >-
        python3 -m
        pip install
        build
        --user
    - name: Build a binary wheel and a source tarball
      run: python3 -m build
#    - name: Store the distribution packages
#      uses: actions/upload-artifact@v4
#      with:
#        name: python-package-distributions
#        path: dist/




